#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

html{
  min-width: 100%;
  min-height: 100%;
}

body{
  min-width: 100%;
  min-height: 100%;
}

html, body{
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

li {
  border: solid thin lightcyan;
  margin-bottom: 1em;
}

.leaderboard {
  padding:0.4em;
  background-color: #141414;
  margin:1em;
}

.leaderboard ul {
  max-height: 65vh;
  overflow: scroll;
  padding: 1em;
}

.rankbox {
  border: solid thin lightcyan;
  margin-bottom: 1em;
  height: 50px;
  width: 50px;
  background-color: #242424;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* Filter icons in topbar */
.filter{
  position: absolute;
  opacity: 0;
}

/* Caldendars */
.calendar { 
  position: absolute;
  opacity: 0;
}

/* Reverse icon */
.reverse :checked {
  outline: 2px solid rgb(248, 242, 242);
}

/* Icons in bottom bar */
.sorter { 
  position: absolute left;
  opacity: 0;
}

/* IMAGE STYLES */
[type=radio] + img {
  cursor: pointer;
}

/* CHECKED STYLES */
[type=radio]:checked + img {
  outline: 2px solid rgb(248, 242, 242);
}